In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
#from xgboost import XGBRFRegressor
from sklearn.metrics import mean_squared_log_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [18]:
# Load the data
india_train = pd.read_csv("India_train.csv")
india_test = pd.read_csv("India_test.csv")
usa_train = pd.read_csv("USA_train.csv")
usa_test = pd.read_csv("USA_test.csv")
soil_rainfall = pd.read_csv("India_soil_rainfall_30years.csv")
commodity = pd.read_csv("USA_Commodity_prices.csv")
submission = pd.read_csv("submission.csv")

In [19]:
india_train

,Year,State Name,Dist Name,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990,Andhra Pradesh,Srikakulam,0.0,0.0,0,4.05,50.75,75.34,18.87,...,23.32,19.79,15.90,1383.0,NaN,5.79,4.21,41684.0,85.21,67.77
1,1990,Andhra Pradesh,Visakhapatnam,7.0,3.0,3333,NaN,54.03,94.67,12.21,...,18.24,15.43,11.63,1363.0,4.03,5.67,3.11,44809.0,90.08,73.74
2,1990,Andhra Pradesh,East Godavari,49.0,238.0,4944,3.28,39.90,68.64,8.12,...,19.69,48.41,32.27,7882.0,6.86,19.71,13.31,NaN,303.24,194.95
3,1990,Andhra Pradesh,West Godavari,26.0,120.0,4964,4.14,43.94,48.83,5.39,...,NaN,89.59,64.73,18271.0,14.01,42.18,33.22,165898.0,375.97,266.35
4,1990,Andhra Pradesh,Krishna,996.0,289.0,2892,1.18,NaN,32.47,2.26,...,28.12,77.62,53.68,NaN,13.34,29.04,21.79,139778.0,NaN,193.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,2006,West Bengal,Jalpaiguri,0.0,0.0,0,0.00,8.68,48.92,284.72,...,33.77,44.20,25.52,11421.0,27.03,35.01,24.74,43874.0,133.67,80.70
4701,2006,West Bengal,Darjeeling,0.0,0.0,0,0.00,9.32,67.40,288.60,...,24.83,64.10,48.93,6477.0,NaN,48.47,34.63,42436.0,301.08,224.49
4702,2006,West Bengal,Malda,NaN,0.0,0,0.00,4.68,16.49,48.28,...,25.88,108.35,58.66,20547.0,25.82,99.19,53.77,94166.0,446.42,241.29
4703,2006,West Bengal,Cooch Behar,0.0,0.0,0,0.00,7.62,31.35,248.95,...,28.63,42.16,22.97,8003.0,25.74,33.22,18.43,35189.0,144.73,74.27
4704,2006,West Bengal,Purulia,0.0,0.0,0,0.00,0.00,29.74,18.69,...,32.51,14.41,15.59,NaN,13.53,9.51,8.76,13637.0,45.95,39.99

In [20]:
india_train.shape

(4705, 103)

In [21]:
india_test.shape

(2476, 103)

In [22]:
india_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4705 entries, 0 to 4704
Columns: 103 entries, Year to TOTAL PER HA OF GCA (Kg per ha)
dtypes: float64(99), int64(2), object(2)
memory usage: 3.7+ MB

In [23]:
india_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2476 entries, 0 to 2475
Columns: 103 entries, Year to TOTAL PER HA OF GCA (Kg per ha)
dtypes: float64(99), int64(2), object(2)
memory usage: 1.9+ MB

In [24]:
india_train.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,4705.000000,4438.000000,4477.000000,4705.000000,4489.000000,4458.000000,4445.000000,4485.000000,4491.000000,4471.000000,...,4486.000000,4470.000000,4471.000000,4481.000000,4479.000000,4449.000000,4467.000000,4440.000000,4443.000000,4474.000000
mean,1998.025292,655.725327,501.854367,1929.775133,18.153555,16.186774,21.222115,27.203142,52.273295,155.832713,...,27.947414,30.861284,22.573136,4415.581790,11.750246,13.755383,10.851428,49886.029955,122.181330,85.892845
std,4.893509,2294.044035,1623.216667,4919.725762,25.831879,27.118176,28.666592,47.434857,91.043304,193.457432,...,9.687258,24.060465,15.257428,6241.924452,10.083136,17.368442,12.656153,46381.811515,102.637837,63.090648
min,1990.000000,-9.000000,-9.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.230000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1994.000000,0.000000,0.000000,0.000000,3.190000,2.910000,3.680000,4.140000,7.560000,56.620000,...,21.710000,14.270000,11.455000,428.000000,4.660000,4.060000,3.600000,16024.250000,50.250000,39.305000
50%,1998.000000,4.000000,0.000000,0.000000,8.480000,6.830000,10.140000,8.820000,17.730000,102.990000,...,27.080000,25.240000,19.920000,1881.000000,8.030000,7.450000,6.060000,39157.500000,92.010000,72.000000
75%,2002.000000,225.750000,117.000000,2353.000000,23.830000,17.642500,28.630000,28.150000,55.685000,186.505000,...,33.360000,40.567500,30.440000,5749.000000,16.065000,16.520000,13.300000,69162.500000,169.365000,121.525000
max,2006.000000,39702.000000,22694.000000,66671.000000,235.750000,292.430000,247.210000,636.600000,763.050000,3251.370000,...,95.260000,226.120000,143.030000,50904.000000,94.270000,253.760000,226.540000,375992.000000,826.060000,612.130000

In [25]:
india_test.describe()

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
count,2476.000000,2355.000000,2359.000000,2476.0,2352.000000,2354.000000,2351.000000,2354.000000,2346.000000,2337.000000,...,2354.000000,2330.000000,2376.000000,2362.000000,2357.000000,2368.000000,2358.000000,2342.000000,2350.000000,2345.000000
mean,2010.977787,1121.233970,1009.406528,0.0,16.522844,18.273411,23.575793,32.139524,49.802217,159.794476,...,28.990229,50.514137,35.179011,8126.602032,13.139054,22.421153,16.755229,80116.497865,190.692226,130.491143
std,2.592747,3948.903684,3080.646120,0.0,24.242124,28.565266,38.421489,54.283243,86.103812,189.692061,...,8.300306,33.536856,21.839417,10256.690107,9.859475,23.419871,16.582679,67126.603937,131.917340,82.058440
min,2007.000000,-9.000000,-9.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.940000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2009.000000,0.000000,0.000000,0.0,2.587500,3.220000,4.320000,5.020000,7.412500,45.280000,...,23.535000,25.480000,19.085000,1359.750000,5.450000,6.865000,5.325000,28854.750000,93.875000,68.060000
50%,2011.000000,0.000000,0.000000,0.0,5.985000,7.570000,10.480000,10.905000,18.135000,103.540000,...,28.090000,45.655000,32.920000,4188.500000,9.940000,14.235000,10.220000,66102.000000,162.320000,120.680000
75%,2013.000000,187.000000,111.500000,0.0,20.837500,21.725000,26.090000,34.997500,52.650000,213.040000,...,33.820000,68.635000,46.637500,10801.750000,18.420000,30.472500,23.502500,113292.750000,260.790000,178.060000
max,2015.000000,37143.000000,30996.000000,0.0,172.780000,304.660000,341.450000,595.940000,662.130000,2709.840000,...,57.060000,282.550000,253.160000,89842.000000,51.190000,213.710000,130.940000,455236.000000,898.480000,807.530000

In [26]:
india_train.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               267
COTTON PRODUCTION (1000 tons)       228
                                   ...
POTASH PER HA OF NCA (Kg per ha)    256
POTASH PER HA OF GCA (Kg per ha)    238
TOTAL CONSUMPTION (tons)            265
TOTAL PER HA OF NCA (Kg per ha)     262
TOTAL PER HA OF GCA (Kg per ha)     231
Length: 103, dtype: int64

In [27]:
india_train=india_train.fillna("0")

In [28]:
india_train= india_train.astype(float, errors='ignore')

In [29]:
india_train.dtypes

Year                                float64
State Name                           object
Dist Name                            object
COTTON AREA (1000 ha)               float64
COTTON PRODUCTION (1000 tons)       float64
                                     ...
POTASH PER HA OF NCA (Kg per ha)    float64
POTASH PER HA OF GCA (Kg per ha)    float64
TOTAL CONSUMPTION (tons)            float64
TOTAL PER HA OF NCA (Kg per ha)     float64
TOTAL PER HA OF GCA (Kg per ha)     float64
Length: 103, dtype: object

In [30]:
india_train = india_train.drop(['State Name','Dist Name'], axis=1)

In [31]:
fig = px.scatter(india_train, x="COTTON PRODUCTION (1000 tons)", y="COTTON YIELD (Kg per ha)")
fig.show()

NameError: name 'px' is not defined

In [ ]:
fig = px.scatter(india_train, x="COTTON AREA (1000 ha)", y="COTTON PRODUCTION (1000 tons)")
fig.show()

In [ ]:
# Load the training data
# Separate the features and the target variable for prediction
columns = india_train.columns

In [ ]:
columns

In [ ]:
columns = [col for col in columns if col not in ['COTTON YIELD (Kg per ha)']]

In [ ]:
#for demo perpose we are using number values

In [ ]:
features = columns
target = 'COTTON YIELD (Kg per ha)'

X = india_train[features]
y = india_train[target]

In [ ]:
X

In [ ]:
# Split the data into training set and validation set
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42)

# Define the model
model_fare = XGBRFRegressor()

# Train the model
model_fare.fit(X_train, y_train)

# Predict the validation set results
y_pred_val = model_fare.predict(X_val)

In [ ]:
# Calculate the MSE
mse = np.sqrt(mean_squared_error(y_val, y_pred_val))
print(f"Validation MSE: {mse}")

In [ ]:
# Predict the yield in the test set
india_test['COTTON YIELD (Kg per ha)'] = model_fare.predict(india_test[features])

In [ ]:
submission_india=india_test['COTTON YIELD (Kg per ha)']

In [ ]:
submission_india

# Let train USA data

In [ ]:
columns = usa_train.columns

In [ ]:
columns

In [ ]:
usa_train=usa_train.fillna("0")

In [ ]:
usa_train= usa_train.astype(float, errors='ignore')

In [ ]:
usa_train.dtypes

In [ ]:
usa_train=usa_train.drop(['State','Planted (1000 Acres)',"Harvested (1000 Acres)"], axis=1)

In [ ]:
usa_train

In [ ]:
columns=usa_train.columns

In [ ]:
columns

In [ ]:
columns = [col for col in columns if col not in ['Yield (Pounds/ Harvested Area)']]

In [ ]:
features = columns
target = 'Yield (Pounds/ Harvested Area)'

X = usa_train[features]
y = usa_train[target]

In [ ]:
# Split the data into training set and validation set
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42)

# Define the model
model_fare = XGBRFRegressor()

# Train the model
model_fare.fit(X_train, y_train)

# Predict the validation set results
y_pred_val = model_fare.predict(X_val)

In [ ]:
# Calculate the MSE
mse = np.sqrt(mean_squared_error(y_val, y_pred_val))
print(f"Validation MSE: {mse}")

In [ ]:
usa_test

In [ ]:
# Predict the yield in the test set
usa_test['Yield (Pounds/ Harvested Area)'] = model_fare.predict(usa_test[features])

In [ ]:
usa_test

In [ ]:
submission_usa=usa_test['Yield (Pounds/ Harvested Area)']

In [ ]:
submission_usa

In [ ]:
commodity

### We need to find relation and fill the data from year 2003 to 2022 with the USA data

In [ ]:
# Convert the 'Year' column to numeric type if it's not already
commodity['Year'] = pd.to_numeric(commodity['Year'])

# Select the rows between the years 2003 and 2022
submission_commodity = commodity[(commodity['Year'] >= 2003) & (commodity['Year'] <= 2022)]

In [ ]:
submission_commodity=submission_commodity["Cotton_Price[Dollar/ton]"]

### To create the final submission file

In [ ]:
submission = pd.concat([submission_india,submission_usa,submission_commodity],axis=1)

In [ ]:
submission

In [ ]:
submission = submission.fillna(0)

In [ ]:
submission

In [ ]:
submission.to_csv("submission.csv",index=False)